* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Lexend Zetta', sans-serif;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  text-align: center;
  font-size: 2em;
}

h3 p {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

/* Header landing video and title */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;

  min-height: 100vh;
  min-width: 100vw;
  height: auto;
  width: auto;

  color: white;
}

figure {
  margin: 0;
}

figure video {
  height: 100vh;
  min-height: 100%;
  min-width: 100vw;
  width: 100%;

  object-fit: fill;
}

figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

figcaption h1 {
  font-weight: 400;
  font-size: 5em;
}

.quotation {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 30%;

  font-size: 1em;
  line-height: 1.2em;
  text-align: right;
}

.quotation p {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .quotation {
    width: 50%;
  }
}

/* Parallax Effect */
.parallax {
  min-height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax h2 {
  color: white;
  font-size: 4em;
}

.parallax-img-1 {
  background-image: url(./images/sunset.jpg);
}

.parallax-img-2 {
  background-image: url(./images/phases_of_the_moon.jpg);
}

/* Articles and parallax images */
.article-container {
  min-height: 500px;
  padding: 50px 15%;
  background-color: #fbfbf8;
}

.firstArticle {
  margin-top: 100vh;
}
#astronomyPictureOfTheDay {
  background-color: #efefef;
}

#astronomyPictureOfTheDay img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

footer {
  min-height: 200px;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;

  background-color: black;
}

.footer-title {
  flex: 2 1 100%;
  margin: 0;
  padding: 0;
  text-align: center;

  color: white;
}

.footer-external-links {
  align-items: center;
  display: flex;
  flex: 2 1 100%;
  justify-content: space-around;
  margin: 0;

  list-style-type: none;
}

.footer-external-links a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .footer-external-links {
    flex-direction: column;
  }
  .footer-external-links li {
    margin: 10px;
  }
}
